* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
}

  #container {
    margin: auto;
    width: 90%;
  }

  #menu {
    background-color: antiquewhite;
    height: 60px;
  }

  #menu, #first-menu {
    display: flex;
  }

  #menu, #first-menu {
    display: flex;
  }

  #menu {
    justify-content: space-between;
  }

  #menu-list {
    padding-right: 50px;
    padding-top: 23px;
  }

  a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
  }

  #img-elias {
    font-size: 60px;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    padding: 0px 10px 0px 20px;
    border-radius: 30px;
  }

  #menu-name {
    padding-top: 23px;
  }

  #main {
    background-color: #F6F6F6;
  }

  #main-container {
    margin: 60px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-heading {
    font-weight: 900;
    font-size: 28px;
  }

  #main-paragraph {
    font-size: 12px;
  }

  button {
    background-color: rgb(252,204,12);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 40px;
    color: black;
    border: none;
    border-radius: 1px;

  }
